my2.flow
[
    {
        "id": "83a15720.f39f6",
        "type": "inject",
        "z": "d40ef5a5.0f8788",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 180,
        "y": 60,
        "wires": [
            [
                "5f4f63a4.71eeec",
                "ca204b7d.13a0e8"
            ]
        ]
    },
    {
        "id": "5f4f63a4.71eeec",
        "type": "debug",
        "z": "d40ef5a5.0f8788",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "ca204b7d.13a0e8",
        "type": "debug",
        "z": "d40ef5a5.0f8788",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 390,
        "y": 120,
        "wires": []
    }
]
